* {
  margin: 0;
  padding: 0;
  background-color: rgb(94, 94, 94);
  font-family: sans-serif;
  color: white;
}

.nav_menu {
  background-color: rgb(66, 66, 66);
  overflow: hidden;
}

.nav_menu a {
  background-color: rgb(66, 66, 66);
  float: left;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
}

.nav_menu a:hover {
  background-color: orange;
  color: black;
}

.nav_menu.active {
  background-color: orange;
  color: black;
}


.para {
  display: inline-block;
  vertical-align: left;
  margin-top: 150px;
  color: white;
  font-size: 60px;
  align-items: center;
}
.para p{
  margin-top: 150px;
}


.para img {
  border-radius: 50%;
  height: 500px;
  float:left;
  margin-left: auto;
  margin-right: auto;
  margin-left: 500;
}

.para button {
  background-color: orange;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.para button:hover {
  background-color: white;
  border: 2px solid orange;
  color: black;
}

.abot img {
  border-radius: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 500;
}

.abot p {
  display: inline-block;
  vertical-align: top;
  margin-top: 200px;
  color: white;
  font-size: 60px;
  margin-left: auto;
  margin-right: auto;
}

.experience {
  float: left;
  width: 47%;
  padding: 15px;
  text-align: justify;
}

.experience h1 {
  font-size: 65px;
  color: blanchedalmond;
}

.experience h2 {
  font-size: 30px;
  color: white;
}

.experience p {
  font-size: 18px;
  color: white;
}

.educ {
  color: blanchedalmond;
  float: left;
  width: 47%;
  padding: 15px;
  text-align: justify;

}

.educ h1 {
  font-size: 65px;
  color: blanchedalmond;
}

.educ h2 {
  font-size: 30px;
  color: white;
}

.educ p {
  font-size: 18px;
  color: white;
}

.blog {
  color: white;
}

.blog th {
  font-size: 35px;
}

.blog img {
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 350px;
  width: 350px;
}

.blog td {
  font-size: 25px;
}

.port {
  margin-left: auto;
  margin-right: auto;
}

.cen {
  margin-left: auto;
  margin-right: auto;
}

.port img {
  border-radius: 20%;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  height: 350px;
  width: 350px;
}

table,
th,
td {
  border: 1px solid rgb(255, 255, 255);
}

section {
  box-sizing: border-box;
  padding: 40px 15%;
}

.contact {
  background: rgb(94, 94, 94);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 6rem;
}

.contact-img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.contact-form h1 {
  font-size: 80px;
  color: white;
  margin-bottom: 20px;
}

span {
  color: orange;
}

.contact-form p {
  color: #c6c9d8bf;
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 1.1rem;
  margin-bottom: 3.8rem;
}

.contact-form {
  position: relative;
}

.contact-form input,
form textarea {
  width: 100%;
  padding: 17px;
  border: none;
  outline: none;
  background: #191919;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;

}

.contact-form textarea {
  resize: none;
  height: 200px;
}

.contact-form .btn {
  display: inline-block;
  background: orange;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid transparent;
  width: 220px;
  transition: ease .20s;
  cursor: pointer;
}

.contact-form .btn:hover {
  border: 2px solid orange;
  background: transparent;
  transform: scale(1.1);
}

@media (max-width: 1570px) {
  section {
    padding: 80px 3%;
    transition: .2s;
  }

  .contact-form h1 {
    font-size: 60px;
  }

  .contact-form p {
    margin-bottom: 3rem;
  }
}

@media (max-width: 1090px) {
  .contact {
    grid-gap: 2rem;
    transition: .3s;
  }
}

@media (max-width: 1000px) {
  .contact {
    grid-template-columns: 1fr;
  }

  .contact-form {
    order: 2;
  }

  .contact-img {
    max-width: 100%;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
  }
}